# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
ENV/
env/
.venv

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Data files (optional - uncomment to track data files in git)
data/source/*.csv
data/bronze/*.parquet
data/silver/*.parquet
data/gold/*.parquet

# Logs
*.log

# OS
.DS_Store
Thumbs.db
